<article class="FtCopy Tc">copyright © 2003-2014 中金在线</article>

<!-- Start BaiDu Certify Script -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F37569f5d0e71676f40b86f173b2e00fa' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End BaiDu Certify Script -->

<!-- Start CNZZ Certify Script -->
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253241311'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1253241311' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End CNZZ Certify Script -->

<!-- Start Alexa Certify Script -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"miaPi1a8Dy00w2", domain:"cnfol.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=miaPi1a8Dy00w2" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Script -->

<!-- Start CNFOL Certify Script -->
<script type="text/javascript">
var sn = 'm.3g.cnfol.com/jraq';
</script>
<script src="http://passport.cnfol.com/addnewkey/addnewbts"  type="text/javascript"></script>
<!-- End CNFOL Certify Script -->
</body>
</html>