<!--Top Start-->
<header class="TopBar">
    <img src="http://hs.cnfol.com/ue/Imgs/Klg/3GBanner.png" class="TopBanner">
</header>
<!--Top End-->
<!--Main Start-->
<article class="BankMain Mb5 Cf">
	<div class="MBx1 MBAct Mt5">
    	<div class="MTit Mb5">活动介绍</div>
    	<script src="http://he.js.cnfol.com/index_new.php/id=2036&br=0"></script>
    </div>
	<div class="MBx1 MBAct MBAct2 Mt5">
    	<div class="MTit Mb10">活动报道</div>
		<script src="http://he.js.cnfol.com/index_new.php/id=2035&br=0"></script>
    </div>
	<div class="MBx1 MBKlg Mt5">
    	<div class="MTit Mb5">知识馆</div>
    	<div class="MBKlgSq Cf">
        	<a href="<?=M_BASE_URL?>1.html" class="MkbA1">福建省相关政策及发展情况</a>
        	<a href="<?=M_BASE_URL?>2.html" class="MkbA2">中金在线相关产品</a>
        	<a href="<?=M_BASE_URL?>3.html" class="MkbA3">投资安全知识</a>
        	<a href="<?=M_BASE_URL?>4.html" class="MkbA4">第三方支付</a>
        	<a href="<?=M_BASE_URL?>5.html" class="MkbA5">P2P网络融资平台</a>
        	<a href="<?=M_BASE_URL?>6.html" class="MkbA6">大数据金融</a>
        </div>
    </div>
	<div class="MBx1 MBAct Mt5 Mb5">
    	<div class="MTit Mb5">联系我们</div>
    	<span>咨询热线：400-8888-366</span>
    </div>
</article>