<script>alert('该活动已结束!');location.href="http://m.3g.cnfol.com/jraq";</script>
<!--Top Start-->
<header class="TopBar">
    <img src="http://hs.cnfol.com/ue/Imgs/Klg/3GBanner.png" class="TopBanner">
</header>
<!--Top End-->
<!--Main Start-->
<article class="QuesStart Cf" id="QuesStart">
	<a href="javascript:QuesSt();" class="QuesStartBtn"><img src="http://hs.cnfol.com/ue/Imgs/Klg/3GStBg.png"></a>
</article>
<form action="cj.html"  method="post" class="QuesLst Cf" id="QuesLst" name="QuesLst" style="display:none;">
    <div id="topic_all" class="TopicAll">
		<?php if(!empty($item) && is_array($item)):?>
		<?php foreach($item as $keynum => $rs):?>
			<div class="div_topic odd" id="topic<?=$keynum+1?>">
            <h4><?=$keynum+1?>、<?=$rs[0]?><span style="display:none;">正确答案：<span class="answer_this_tip"><?=$rs[5]?></span></span></h4>
            <p><input type="radio" value="A" name="topic<?=$keynum+1?>">A、<?=$rs[1]?></p>
            <p><input type="radio" value="B" name="topic<?=$keynum+1?>">B、<?=$rs[2]?></p>
            <p><input type="radio" value="C" name="topic<?=$keynum+1?>">C、<?=$rs[3]?></p>
            <p><input type="radio" value="D" name="topic<?=$keynum+1?>">D、<?=$rs[4]?></p>
			</div>
		<?php endforeach;?>
			<div class="QuesAlt Mt5" id="QuesAlt"></div>
			<input type="button" value="提交" class="buts2" id="check_answer" name="check_answer">
			<input type="hidden" name="key" value="<?=$key?>">
			<input type="hidden" name="t" value="<?=TIMES?>">
			<a href="javascript:QuesLst.submit();" class="buts2" id="check_answer2" style="display:none;">抽奖</a>
		<?php endif;?>
    </div>
</form>
<!--Main End-->
<script src="http://hs.cnfol.com/Cm/Js/Base.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Jquery16.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ue/Js/Klg/3GAsk.js" type="text/javascript"></script>