<!--FstNews Start-->
<div class="W960 FstNews Mt15 Cf">
	<div class="FRdb">
    	<div class="FrdPic">
			<script src="http://he.js.cnfol.com/index_new.php/id=2016&br=0"></script>
		</div>
	
        <div class="FTit FTitW1 Mt15 Cf">活动介绍</div>
		<div class="FRTxt">
			<script src="http://he.js.cnfol.com/index_new.php/id=2022&br=0"></script>
		</div>
    </div>
	<div class="FLd1 Cf">
    	<script src="http://he.js.cnfol.com/index_new.php/id=2018&br=0"></script>
    	<script src="http://he.js.cnfol.com/index_new.php/id=2019&br=0"></script>
    </div>
    <div class="FLd2">
    	<div class="FTit FTitW1 Mt15 Mb10 Cf">省内动态</div>
        <script src="http://tags.js.cnfol.com/tag_news.php?tag=%B8%A3%BD%A8%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA&record=4&len=60&ishtml=1&charset=utf8" charset="utf-8"></script>
        <script src="http://he.js.cnfol.com/index_new.php/id=2020&br=0"></script>
    </div>
</div>
<!--FstNews End-->
<!--Ad1 Start-->
<div class="AdvBx1">
	<script src="http://he.js.cnfol.com/index_new.php/id=2017&br=0"></script>
</div>
<!--Ad1 End-->
<!--Schedule Start-->
<div class="W960 ScdBx">
    <div class="ScdTit Cf">
    	<p>咨询热线：400-8888-366</p>
		<div class="FTit FTitW1 Cf">活动日程</div>
    </div>
    <div class="ScdTabT">2014年福建省普及互联网金融安全活动开展时间表</div>
    <table width="100%" cellpadding="1" cellspacing="1" border="1" bordercolor="#e5e5e5" class="ScdTab">
    	<tr>
        	<th width="10%">阶段</th>
        	<th width="20%">时间</th>
        	<th width="35%">主要内容</th>
        </tr>
    	<tr>
        	<td>第一阶段</td>
        	<td>7-8月</td>
        	<td class="Tl">
				1.中金在线微信平台发布系列专题，宣传普及互联网金融安全知识；<br />
				2.制作互联网金融安全系列视频，在各大视频平台进行宣传；<br />
				3.开通互联网金融安全热线电话，为投资者答疑解问；<br />
				4.举办互联网金融安全网络调查问卷活动；<br />
				5.举办互联网金融安全知识网络有奖竞赛（含微信）活动；<br />
				6.举办电台互联网金融安全有奖知识竞答活动；<br />
            </td>
        </tr>
    	<tr>
        	<td>第二阶段</td>
        	<td>9-10月</td>
        	<td class="Tl">
				1.中金在线微信平台发布系列专题，宣传普及互联网金融安全知识；<br />
				2.开通互联网金融安全热线电话，为投资者答疑解问；<br />
				3.在福州市主要社区进行互联网金融安全知识宣传普及；<br />
				4.第一二阶段活动总结暨表彰大会；<br />
            </td>
        </tr>
    	<tr>
        	<td>第三阶段</td>
        	<td>11-12月</td>
        	<td class="Tl">
				1.中金在线微信平台发布系列专题，宣传普及互联网金融安全知识；<br />
				2.开通互联网金融安全热线电话，为投资者答疑解问；<br />
				3.2014年福建省互联网金融重点产品投资安全讲座；<br />
				4.2014年福建省普及互联网金融安全知识活动总结暨表彰大会；<br />
            </td>
        </tr>
    </table>
</div>
<!--Schedule End-->
<!--KlgBgx Start-->
<div class="W960 KlgBgx Cf">
	<div class="KlgBTit Cf">
    	<a href="http://jraq.cnfol.com/zsg.html" target="_blank">&gt;&gt; 更多</a>
		<div class="FTit Fl FTitW2 Cf">互联网金融知识馆</div>
    </div>
	<script src="http://he.js.cnfol.com/index_new.php/id=2021&br=0"></script>
</div>
<!--KlgBgx End-->
<!--Ad1 Start-->
<div class="AdvBx1">
	<script src="http://he.js.cnfol.com/index_new.php/id=2034&br=0"></script>
	<!--<a href="javascript:void(0);" class="Opac"></a>-->
	<a class="Opac" href="http://jraq.cnfol.com/dthd.html" target="_blank"></a>
</div>
<!--Ad1 End-->
<!--News2 Start-->
<div class="News2Bx W960">
	<div class="FTit FTitW3 Cf">互联网金融行业动态</div>
    <ul class="Cf">
	<script src="http://tags.js.cnfol.com/tag_news.php?tag=%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA%D0%D0%D2%B5%B6%AF%CC%AC&record=20&len=60&ishtml=1&charset=utf8" charset="utf-8"></script>
    </ul>
</div>
<div class="News2Bx Mt20 W960">
	<div class="FTit FTitW3 Cf">互联网金融杂谈</div>
    <div class="News2Pic Cf">
	<script src="http://he.js.cnfol.com/index_new.php/id=2023&br=0"></script>
    </div>
</div>
<!--News2 End-->
<!--TrbBx Start-->
<div class="W960 TrbBx Mt20 Cf">
	<div class="TrbL">
    	<div class="FTit FTitW1 Cf">留言板</div>
        <div class="WeiboBox">
			<!--这块为微博内容-->
			<iframe width="700" height="530"  frameborder="0" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=0&height=500&uid=1649470535&skin=1&refer=1&appkey=&pic=0&titlebar=1&border=1&publish=1&atalk=1&recomm=0&at=0&atopic=2014%E5%B9%B4%E7%A6%8F%E5%BB%BA%E7%9C%81%E6%99%AE%E5%8F%8A%E4%BA%92%E8%81%94%E7%BD%91%E9%87%91%E8%9E%8D%E5%AE%89%E5%85%A8%E7%9F%A5%E8%AF%86%E6%B4%BB%E5%8A%A8&ptopic=2014%E5%B9%B4%E7%A6%8F%E5%BB%BA%E7%9C%81%E6%99%AE%E5%8F%8A%E4%BA%92%E8%81%94%E7%BD%91%E9%87%91%E8%9E%8D%E5%AE%89%E5%85%A8%E7%9F%A5%E8%AF%86%E6%B4%BB%E5%8A%A8&dpc=1"></iframe>
        </div>
    </div>
    <div class="TrbR">
    	<div class="FTit FTitW1 Cf">支持媒体</div>
        <!--滚动 Start-->
        <div id="block" class="MediaBox">
            <a class="prev" href="javascript:;">Prev</a>
            <div id="NewScroll">
			<script src="http://he.js.cnfol.com/index_new.php/id=2024&br=0"></script>
            </div>
            <a class="next" href="javascript:;">Next</a>
        </div>
        <!--滚动 End-->
    </div>
</div>
<!--TrbBx End-->
<!--Friend Start-->
<div class="W960 Friend Mt20">
<div class="FTit FTitW1 Cf">合作伙伴</div>
<script src="http://he.js.cnfol.com/index_new.php/id=2025&br=0"></script>
</div>
<!--右侧二维码 start-->
<div class="FixedRight" id="FixedRight">
	<a title="关闭" class="Cls" onclick="document.getElementById('FixedRight').style.display='none'" href="javascript:;">X</a>
    <div class="FltCode Cf">
        <p></p>
        <a href="http://jraq.cnfol.com/yjwd.html" target="_blank"><img src="http://hs.cnfol.com/ue/Imgs/Klg/FltCode.jpg" /></a>
        <p>扫描参与手机答题</p>
    </div>
</div>
<!--[if lt IE 7]>
<script src="http://hs.cnfol.com/Cm/Js/Fixed.js" type="text/javascript"></script>
<script type="text/javascript">
Fixed("FixedRight","R0","B100");
</script>
<![endif]-->
<!--右侧二维码 end-->
<!--Friend End-->