<!--Nav Start-->
<div class="Nav Mt20">
	<div class="NavBg Cf">
    	<a href="<?=base_url()?>" target="_blank" class="Nlink1 Cf"><i class="NkL"></i><span>首页</span><i class="NkR"></i></a>
    	<a href="<?=base_url()?>" target="_blank" class="Nlink2 Cf Cur"><i class="NkL"></i><span>福建互联网金融</span><i class="NkR"></i></a>
    	<a href="<?=base_url().'hdjs.html'?>" target="_blank" class="Nlink3 Cf"><i class="NkL"></i><span>活动介绍</span><i class="NkR"></i></a>
    	<a href="<?=base_url().'yjwd.html'?>" target="_blank" class="Nlink4 Cf"><i class="NkL"></i><span>有奖问答</span><i class="NkR"></i></a>
    	<a href="<?=base_url().'wjdc.html'?>" target="_blank" class="Nlink5 Cf"><i class="NkL"></i><span>问卷调查</span><i class="NkR"></i></a>
    	<a href="<?=base_url().'zsg.html'?>" target="_blank" class="Nlink6 Cf"><i class="NkL"></i><span>知识馆</span><i class="NkR"></i></a>
    	<a href="<?=base_url().'hjmd.html'?>" target="_blank" class="Nlink7 Cf"><i class="NkL"></i><span>获奖名单</span><i class="NkR"></i></a>
    </div>
</div>
<!--Nav End-->
<!--Main Start-->
<div class="W960 Mt20 Cf">
	<div class="Dv1 Cf">
    	<div class="Dv1L Cf">
			<b class="Dv1TitB">活动介绍</b>
        	<script src="http://he.js.cnfol.com/index_new.php/id=2809&br=1"></script>
			<script src="http://he.js.cnfol.com/index_new.php/id=2796&br=0"></script>
        </div>
    	<div class="Dv1R Mt10 Cf">
		<div id="container" style="min-width:355px;height:210px"></div>
        </div>
    </div>
    <div class="Tit1"></div>
    <div class="Dv2 Cf">
    	<a href="<?=base_url().'wjdc.html'?>" target="_blank" class="Dv2A1"></a>
    	<a href="<?=base_url().'zsg.html'?>" target="_blank" class="Dv2A2"></a>
    	<a href="<?=base_url().'yjwd.html'?>" target="_blank" class="Dv2A3"></a>
    </div>
    <div class="Tit2"></div>
    <script src="http://he.js.cnfol.com/index_new.php/id=2815&br=0"></script>
    <div class="Tit3"></div>
    <div class="Dv4 Cf">
    	<a href="<?=base_url().'zsg.html'?>" target="_blank" class="Lk1">更多&gt;&gt;</a>
    	<script src="http://he.js.cnfol.com/index_new.php/id=2797&br=0"></script>
    </div>
    <div class="Tit4"></div>
    <div class="Dv5 Cf">
    	<script src="http://he.js.cnfol.com/index_new.php/id=2798&br=0"></script>
    </div>
    <div class="Tit5"></div>
    <div class="Dv6 Cf">
    	<div class="DvLst Fl Cf">
        	<div class="DvlTit Cf">
                <a href="http://shell.cnfol.com/tags/2016%CA%A1%C4%DA%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA%D6%AA%CA%B6" target="_blank" class="Fr">更多&gt;&gt;</a>
            	省内动态
            </div>
            <div class="DvlInfo">
              <!-- <script src="http://tags.js.cnfol.com/tag_news.php?tag=%B8%A3%BD%A8%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA&record=9&len=60&ishtml=1&charset=utf8" charset="utf-8"></script>-->
			  <script src="http://tags.js.cnfol.com/tag_news.php?tag=2016%CA%A1%C4%DA%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA%D6%AA%CA%B6&record=9&len=60&ishtml=1&charset=utf8" charset="utf-8"></script>
            </div>
        </div>
    	<div class="DvLst Fr Cf">
        	<div class="DvlTit Cf">
                <a href="http://shell.cnfol.com/tags/2016%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA%D0%D0%D2%B5%B6%AF%CC%AC" target="_blank" class="Fr">更多&gt;&gt;</a>
            	行业动态
            </div>
        	<div class="DvlInfo">
               <!--<script src="http://tags.js.cnfol.com/tag_news.php?tag=%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA%D0%D0%D2%B5%B6%AF%CC%AC&record=9&len=60&ishtml=1&charset=utf8" charset="utf-8"></script>-->
			   <script src="http://tags.js.cnfol.com/tag_news.php?tag=2016%BB%A5%C1%AA%CD%F8%BD%F0%C8%DA%D0%D0%D2%B5%B6%AF%CC%AC&record=9&len=60&ishtml=1&charset=utf8" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <div class="Tit6"></div>
    <div class="Dv7 Cf">
    	<script src="http://he.js.cnfol.com/index_new.php/id=2799&br=0"></script>
    </div>
    <div class="Tit7"></div>
    <div class="Dv8 Cf">
    	<script src="http://he.js.cnfol.com/index_new.php/id=2025&br=0"></script>
    </div>
</div>
<!--Main End-->
<!--右侧浮动 Start-->
<div id="FixedRight" class="FixedRight" style="width:143px;height:auto;">
	<a class="Cls" title="关闭" onclick="document.getElementById('FixedRight').style.display='none'" href="javascript:void(0);">X</a>
    <div class="Pre">
    	<img src="http://hs.cnfol.com/ue/Imgs/Klg/2016/CodeR3.png?v=20160301" />
    </div>
</div>
<!--右侧浮动 End-->
<!--<a href="#top" class="GoTop" id="GoTop" style="display:none;"></a>-->
<a href="javascript:void(0);" onclick="document.documentElement.scrollTop=0;document.body.scrollTop=0;" class="GoTop" id="GoTop" style="display:none;"></a>

<script src="http://hs.cnfol.com/f=Cm/Js/Base.js,Cm/Js/Jquery16.js,ue/Js/Chart/highcharts.js?v=201602172043" type="text/javascript"></script>
<script>
//饼图
$(function(){
    var chart;
    var totalMoney=50000 ;
	var fj = parseInt("<?php echo $fjdata;?>");
	var sh = parseInt("<?php echo $shdata;?>");
	var gd = parseInt("<?php echo $gddata;?>");
	var qt = parseInt("<?php echo $qtdata;?>");
    $(document).ready(function(){
        chart = new Highcharts.Chart({
            chart: {//初始状态
                renderTo: 'container',
				backgroundColor: '#f4f4f4',
                plotBackgroundColor: '#f4f4f4',
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: '受普及人群地区分布',
                verticalAlign:'top',
                y:15
            },
            tooltip: {//鼠标移动到每个饼图显示的内容
                pointFormat: '{point.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1,
                formatter: function() {
                    return this.point.name;/*+':$'+totalMoney*this.point.percentage/100;*/
                }
            },
            plotOptions: {
                pie: {
                    size:'100%',
					center: [100, 95],
                    borderWidth: 0,
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                    	enabled: true,
                    	color: '#000',                        
                    	distance: -20,//通过设置这个属性，将每个小饼图的显示名称和每个饼图重叠
                    	style: {                            
                        	fontSize: '10px',
                        	lineHeight: '10px'
                    	},
                    	formatter: function(index) {    
                            return  '<span style="color:#00008B;font-weight:bold">' + Math.round(this.point.percentage*100)/100 + '%<\/span>';
                       	}
                  	},
                 	padding:20,
                    showInLegend: true
                }
            },
			legend: {//图例位置
            	align: 'right',
				verticalAlign: 'middle',
				x: -30,
				y: 60,
				floating: false,
                layout: 'vertical'
            },
			credits: {//版权
				enabled:false
			},
			exporting: {//导出图
				enable: false
			},
            series: [{//设置每小个饼图的颜色、名称、百分比
                type: 'pie',
                name: null,
                data: [
                    {name:'广东',color:'#ffc4b6',y:gd},
                    {name:'上海',color:'#c0e5ff',y:sh},
                    {name:'福建',color:'#ffeb01',y:fj},
                    {name:'其他',color:'#f38418',y:qt}
                ]
            }]
        });
    });
});
</script>
<script type="text/javascript">
//回顶
window.onscroll=function(){
	(document.body.scrollTop||document.documentElement.scrollTop)==0?C.G('GoTop').style.display='none':C.G('GoTop').style.display='block';
}

</script>


</body>
</html>