<!doctype html>
<html>
<head>
<meta name="baidu-tc-cerfication" content="514a234c252ea9c06b9c0b37a11ff5f0" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1,user-scalable=no">
<meta name="keywords" content="<?=$seo['keywords']?>">
<meta name="description" content="<?=$seo['description']?>">
<title><?=$seo['title']?></title>
<link type="text/css" rel="stylesheet" href="http://hs.cnfol.com/ue/Css/Klg/3GKlg.css" />
<link rel="stylesheet" type="text/css" media="screen and (max-device-width:320px)" href="http://hs.cnfol.com/ue/Css/Klg/3GKlg2.css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width:640px)" href="http://hs.cnfol.com/ue/Css/Klg/3GKlg3.css" />
</head>
<body>