<!--<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="<?=$seo['keywords']?>">
<meta name="Description" content="<?=$seo['description']?>">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" rel="stylesheet" href="http://hs.cnfol.com/f=ub/Css/Modules/Basis.css,ue/Css/Common/CmsTopBar.css,ua/css/Public/TopBarFoot.css"/>
<link type="text/css" rel="stylesheet" href="http://hs.cnfol.com/ue/Css/Klg/Klg.css"/>
<script src="http://hs.cnfol.com/Cm/Js/Base.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Jquery16.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Cleaner.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Menus.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ua/js/Public/Base64.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ua/js/Public/Login.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/ShowInfo.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ue/Js/Klg/jq.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ue/Js/Klg/NewScr.js" type="text/javascript"></script>
</head>
<body>-->
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?=$seo['title']?></title>
<meta name="keywords" content="<?=$seo['keywords']?>">
<meta name="Description" content="<?=$seo['description']?>">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" rel="stylesheet" href="http://hs.cnfol.com/f=ub/Css/Modules/Basis.css,ue/Css/Common/CmsTopBar.css,ua/css/Public/TopBarFoot.css,ue/Css/Cms/CfFixed.css,ue/Css/Klg/Klg2016.css?v=20160126112"/>
<script src="http://hs.cnfol.com/Cm/Js/Base.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Jquery16.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Cleaner.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/Menus.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ua/js/Public/Base64.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ua/js/Public/Login.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/Cm/Js/ShowInfo.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ue/Js/Klg/jq.js" type="text/javascript"></script>
<script src="http://hs.cnfol.com/ue/Js/Klg/NewScr.js" type="text/javascript"></script>
<link href="http://www.cnfol.com/favicon.ico" rel="Shortcut Icon">
</head>
<body>