<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> 知识问答库 </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="http://hs.cnfol.com/f=Cm/Css/Base.css,ub/Css/CustomerService/SerCenter.css" rel="stylesheet" type="text/css">
 </head>
<script type="text/javascript" charset="utf-8">
	document.domain="cnfol.com";
</script>
 <body class="RightW">
	<article class="RMod1">
		<h3 class="Wel">欢迎您使用知识问答库管理</h3>
		<p class="I2">您在这里可以通过对一些内容进行管理。</p>
	</article>
 </body>
</html>